.roomsHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.left{
    display: flex;
    align-items: center;
}
.heading{
    font-size: 20px;
    font-weight: bold;
}
.searchBox{
    background: #262626;
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    min-width: 300px;
    border-radius: 20px;
}
.searchInput{
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: #fff;
    width: 100%;
}

.heading{
    position: relative;
}


.heading::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 4px;
    margin-bottom: -10px;
    background: #0077ff;
}

.startroomBtn{
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    background: #20bd5f;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease;
}
.startroomBtn span{
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.startroomBtn:hover{
    background: #0f6632;
}
.roomlist{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    margin-top: 60px;
}

